<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <title>MongoDB Verification Email</title>
</head>
<body style="font-family: 'Inter', sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px;">
    <div class="outer-container" style="width: 100%; max-width: 600px; padding: 10px; box-sizing: border-box;">
        <div class="logo-header" style="display: flex; align-items: center; margin-bottom: 25px; margin-left: 15px;">
            <img src="cid:image1" alt="TruDrive logo" width="30px" height="30px">
            <h2 style="font-size: 24px; margin: 0; color: #001e2b; text-align: center; margin-top: 4px; margin-left: 4px;">TruDrive</h2>
        </div>
        <div class="container" style="background-color: white; padding: 20px; border-radius: 2px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); width: 100%; box-sizing: border-box;">
            <h1 style="color: #3d4f58; font-size: 24px; margin-bottom: 20px;">One-Time Verification Code</h1>
            <p style="color: #5e5e5e; line-height: 1.5; margin-bottom: 15px; font-size: 16px;">You are receiving this email because a request was made for a one-time code that can be used for authentication.</p>
            <p style="color: #5e5e5e; line-height: 1.5; margin-bottom: 15px; font-size: 16px;">Please enter the following code for verification:</p>
            <div class="verification-code" style="font-size: 24px; text-align: center; margin: 20px 0;">${otp}</div>
        </div>
        <div class="footer" style="font-size: 14px; text-align: center; color: #889397; padding-top: 25px;">
            This message was sent from TruDrive
        </div>
    </div>
</body>

</html>
